#pane-side {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity .2s ease-in-out;
}
#side:hover #pane-side {
  opacity: 1 !important;
  pointer-events: auto !important;
}

#main .copyable-area,
#main [data-testid="conversation-panel-body"],
#main [data-testid="conversation-panel-messages"] {
  display: none !important; 
}

#main:hover .copyable-area,
#main:hover [data-testid="conversation-panel-body"],
#main:hover [data-testid="conversation-panel-messages"] {
  display: block !important;
}

#main header,
#main footer {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity .2s ease-in-out;
}
#main:hover header,
#main:hover footer {
  opacity: 1 !important;
  pointer-events: auto !important;
}

div[role="dialog"] {
  opacity: 0 !important;
  pointer-events: none !important;
  transition: opacity .2s ease-in-out;
}
div[role="dialog"]:hover {
  opacity: 1 !important;
  pointer-events: auto !important;
}